
  <nav class="navbar navbar-inverse navbar-expand-lg navbar-dark nav2">
     <a class="navbar-brand" href="#">
        codeClass
     </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon" />
     </button>
     <div id="navbar-links" class="collapse navbar-collapse ">
       <ul class="navbar-nav  ml-md-auto d-md-flex">
         <li class="nav-item active">
           <a><span class="font-weight-bold m-1" style="font-size:1rem">Home</span></a>
         </li>
         <li class="nav-item">
           <a><span class="font-weight-bold m-1" style="font-size:1rem">Todo</span></a>
         </li>
         <li class="nav-item">
           <a><span class="font-weight-bold m-1" style="font-size:1rem">Progress</span></a>
         </li>
         <li class="nav-item">
           <button type="button" class="btn btn-sm btn-warning">Logout</button>
         </li>
       </ul>
     </div>
   </nav>
